.Main {
    align-content: bottom;
    background-color: blue;
}

.Links {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    justify-content: space-between;
}

.mailCV {
    padding-top: 50px;
    padding-bottom: 75px;
    text-align: center;
}

.btn1 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.paragraph {
    text-align: center;
    background-color: burlywood;
    color: black;
    border-radius: 10%;
    margin-left: 300px;
    font-size: 18px;
    margin-right: 300px;
    margin-top: 100px;
    padding: 50px;
    overflow: hidden; 
}

.head {
    align-content: space-evenly;
}

.topMainPage {
    background-color: burlywood;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    border-radius: 15%;
}
.MyImage {
    float: middle; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px; 
    width: 400px;
    border-radius: 50%; 
    overflow: hidden; 
  }
  .Contact {
    padding-top:  40px;
    float:left;
    padding-left: 25%;
    margin-bottom: 75px;
  }

  .Resume {
    padding-top: 40px;
    float:right;
    padding-right: 25%;
    margin-bottom: 75px;
  }

  .ImageAndLinks {
    padding-top: 50px;
  }